@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
}

/**********GRIDS*************/

.grilla {
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "header header header"
        "nav nav nav"
        "seccionUno seccionUno seccionUno"
        "seccionDos seccionDos seccionDos"
        "footer footer footer";

}

/***********HEADER***********/
.header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #217a46b9;
    padding: 10px;
    min-height: 15vh;
}

header .logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.colorTitulo {
    color: white;
}


.logo h1 {
    margin: 15px;
}

.logo img {
    transition: all;
}

.logo img:hover {
    transform: scale(1.5);
}

/*********NAV********/

.nav {
    grid-area: nav;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
}

.nav li {
    margin: 10px;
    border: rgb(201, 216, 134) solid 2px;
    /* border-radius: 50% 20% / 10% 40%; */
    border-radius: 25% 10%;
    color: white;
    margin-bottom: 15px;
}

.nav a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

.nav a:hover {
    color: rgba(59, 112, 192, 0.836);
    font-weight: 900;
}

.nav li:hover {
    background-color: rgb(255, 255, 255);
}

/******MAIN**********/

.seccionUno {
    grid-area: seccionUno;
    margin-top: 1rem;
}

.seccionUno h2 {
    padding: 2rem;
}

.seccionDos {
    grid-area: seccionDos;

}

.tituloUno {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    padding: 5rem;
}

.titulos {
    margin: 1rem;
    font-size: 20px;
    color: #217a46b9;
}

.tituloUno {

    display: flex;

    justify-content: center;

    font-size: 30px;

    padding: 5rem;

}

div {
    margin: .5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

img {
    position: relative;
    padding: .5rem;
    margin: .5rem;

}


/******FOOTER*****/

.footer {
    grid-area: footer;
    font-size: 5rem;
    padding: 5vw;
    height: 5px;
    display: flexbox;
    justify-content: center;
    align-content: center;

}

.footer i {
    color: rgb(25, 72, 75);
    padding: 20px;
    font-size: 20px;
    border: #217a46b9 1px solid;
    border-radius: 100%;
}

/*******NOSOTROS************/
.nosotros {
    display: flex;
    margin-top: 1rem;
    margin: 1rem;
    justify-content: space-around;
    font-size: 30px;
    color: #217a46b9;
}

.parrafo-nosotros {
    margin: 1rem;
    padding: 1rem;
    border: double 3px #6495ed;
    border-radius: 15px 50px 30px;
}
/******RESPONSIVE DESING - MEDIA QUERY - MOBILE LAST****/

/* MOBILE LAST - MAX WIDTH */

@media (max-width: 768px){
    .grilla{   
        grid-template-areas:
        "nav nav nav nav"
        "header header header"
        "seccionUno seccionUno seccionUno"
        "seccionDos seccionDos seccionDos"
        "footer footer footer";
    }
    .nav{
        flex-direction: row;
    }
    .nav ul{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

/*******DISPOSITIVOS CHICOS*****/

@media (max-width: 375px){
    .nav{
        flex-direction: column;
    }
    .nav{
        padding: 5px;
    }

}